
.headerBar{

    width: 100%;
    height: 100px;
    background-image: linear-gradient(149deg, rgba(106,106,204,255) 10%, rgba(35,31,32,255) 40%);


}
body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

.BackgroundImage {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.container{
    position: relative;
    min-width: 1280px;
    min-height: 1280px;
  margin: 0 auto;
  padding: 0;
  

}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    
    font-size: 1.8em;
    transform: translate(-50%, -50%);
}

nav{
float:left;
width: 100%;
}

ul{
    list-style: none;
}

ul li a {
    
    float: left;
    color: rgb(255, 255, 255);
    user-select: none;
    font-size: 1.4em;
    text-decoration-line: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    
    padding: 0px 2%;
    height: 80px;
    line-height: 80px;
}

ul li a:hover{
    background-color: rgb(186, 186, 226);
}

.DividerBlock {
    float:right;
    width         : 0;
    height        : 0; 
    border-left   : 1920px solid transparent;
    border-right  : 0px solid transparent;  
    border-top : 100px solid rgba(106,106,204,255);
    position: relative;
    z-index: 2;
}

.DividerBlock2 {
    float:left;
    width         : 0;
    height        : 0; 
    border-left   : 0px solid transparent;
    border-right  : 1200px solid transparent;  
    border-top : 250px solid rgb(215, 215, 247);
    position: absolute;
    
}


#main {
    overflow: hidden;
}

.AboutMe {
position: relative;
top: 60px;
width: 50%;
margin: auto;
text-align: center;

}
.AboutMe h2{
    font-size: 1.8em;
    
}
.AboutMe p{
    font-size: 1.2em;
    
}

Music{
width: 50%


}
.song {
    width: 200px;
    height: 200px;
    background-color: rgb(215, 215, 247);
    margin: 20px;
    
    display: inline-block;
    font-size: 0.9em;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.song span {
    position: absolute;
    bottom: 0;
}
#player {
    position: relative;
    width:100%;
    
    background-color: rgb(201, 201, 241);
}
audio::-webkit-media-controls-panel{
    background-color: rgb(201, 201, 241);
    
    }