body {
    margin: 0;
    padding: 0;
    background-color: rgb(119, 119, 119);
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 200px;
    background-image: url('../img/BackgroundImage.jpg');
    background-size: cover;
    background-position: top;

    margin: 0px;
    padding: 0;
}


/* Navigation Bar*/
nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    transition: 0.5s;
    justify-content: center;
}

nav.sticky {
    top: 0.5vw;
}

nav.sticky a {
    display: flex;
    background-size: cover;
    font-size: 1.7em;
    background-color: rgba(75, 75, 75, 0.5);

}

nav a:hover {
    background-color: rgb(180, 180, 180);
    background-position: 100vw;
    transform: translateY(10px);
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.5s;
    text-transform: none;
}

nav img {
    padding: 0px 0px;
    width: 100px;
}

/* Main Page Content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
    animation: fade 1s forwards;
}

.transitiontriangles {
    display: grid;
    justify-content: space-around;
}

.transitiontriangles>* {
    grid-column-start: 1;
    grid-row-start: 1;
}

.DividerTriangleLeft {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: #444444 transparent transparent transparent;
}

.DividerTriangleRight {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 150px 0;
    border-color: transparent #2C2C2C transparent transparent;
}


/*About Me Page*/
#AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0;
    padding: 0;
}

.AboutMeText{
    background-color: rgb(151, 151, 151);
    padding: 10px;
    border-radius: 10px;
}
/* Song Section HomePage*/

.Songs {
    margin: 40px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Song {
    width: 250px;
    height: 250px;
    background-color: rgb(194, 194, 194);
    border-radius: 40px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: -2px 7px 6px 6px rgba(0, 0, 0, 0.26);
    transition: .2s ease-in-out 0s;
    
}

.Song img {
    width: 50%;
    height: 50%;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.Song p {
    background-color: rgb(194, 194, 194);
    font-size: 1.6em;
    color: black;
    margin: 0 0 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#player {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

audio::-webkit-media-controls-panel {
    background-color: rgb(255, 255, 255);

}

.Song:hover {
    transform: scale(1.1);
}

/*Experience Page*/
#Experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0;
    padding: 0;
}
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-bottom: 299px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(151, 151, 151);
}
.Contact {
    min-width: 240px;
    width: 30vw;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 200px;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(151, 151, 151);
}
.form-element {
    display: flex;
    margin: 10px 0 10px 0;
    padding: 0;
}
button {
    width: 100px;
}
label {
    flex: 1;
}
#Experience p {
    font-size: 1.2em;
}
.ExperienceText {
    background-color: rgb(151, 151, 151);
    padding: 15px;
    border-radius: 15px;
    margin: 0px 0px 100px 0px;
}
/*Graphs Experience Page*/
.skills {
    text-align: right;   
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.skillbars {
    width: 100%;
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 50px 0px;
}

.skillbars p {
    padding: 10px 0px 5px 0px;
}
.skillbars a {
    padding-right: 5px;
}
.html {
    animation: html 2s forwards;
    background-color: #4998ff;
    border-radius: 0px 15px 15px 0px;
}
.css {
    animation: css 2s forwards;
    background-color: #0070cc;
    border-radius: 0px 15px 15px 0px;
}

.js {
    animation: js 2s forwards;
    background-color: #002a68;
    border-radius: 0px 15px 15px 0px;
}

h1 {
    color: white;
    font-size: 3em;
    margin-top: 80px;
    padding: 15px;
    background-image: url('../img/shape.png');
    background-size: cover;
    background-position:0%;
    
}
h2 {
    margin-top: 50px;
    padding: 15px;
    font-size: 2em;
    background-image: url('../img/shape.png');
    background-size: cover;
    background-position: center;
}
p {
    margin: 0 10px 0 10px;
    color: white;
}
footer {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: rgb(85, 85, 85);
}

footer img {
    width: 40px;
    height: calc(100% - 10px);

}


@media (max-width: 500px) {
    nav.sticky {
        top: 0;
    }

    header {
        width: 100vw;
        height: 200px;
        background-image: url(/img/BackgroundImage.jpg);
        background-size: auto;
        background-position: top;

        margin: 0px;
        padding: 0px;
    }

    nav {
        background-color: rgb(170, 170, 170);
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    nav a {
        padding: 10px;
        border-left: none;
        border-top: 1px solid white;
        font-size: 1em;

    }

    nav.sticky a {
        padding: 10px;
        border-left: none;
        border-top: 1px solid white;
        font-size: 1em;
        background-color: rgb(170, 170, 170);
    }

    nav img {
        padding: 0px 0px;
        width: 50px;
    }

    nav a:hover {
        background-color: rgb(140, 178, 214);
        background-position: 100vw;
        transform: scaleY(1);
    }

    h1 {
        font-size: 2em;
        margin-top: 55px;
    }

    .Song p {
        font-size: 1.5em;

    }
}

@keyframes html{
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}
@keyframes css{
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes js{
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes fade{
    0% {
        opacity: 0%;
        transform:translateY(-20px);
    }
    100% {
        opacity: 100%;
        transform:translateY(0);
    }
}

